@model IEnumerable<ProductQuoteApp.Persistence.PaymentDeadline>

@{
    ViewBag.Title = @ProductQuoteApp.Resources.Resources.EtyPaymentDeadlines;
}
<div class="row" style="margin-bottom:25px;">
    <h3>@ProductQuoteApp.Resources.Resources.EtyPaymentDeadlines</h3>
</div>

<p>
    @Html.ActionLink(@ProductQuoteApp.Resources.Resources.ActCreate, "Create")
</p>
<table class="table">
    <tr>
        <th width="70%">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th width="10%">@Html.DisplayNameFor(model => model.Days)</th>
        <th width="10%">@Html.DisplayNameFor(model => model.Months)</th>
        <th width="10%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Months)
        </td>
        <td nowrap>
            <a title="@ProductQuoteApp.Resources.Resources.ActEdit" href="@Url.Action("Edit", "PaymentDeadline", new { id = item.PaymentDeadlineID })"><div style="font-size:1.2em; display: inline-block;"><i class='fa fa-edit'></i></div></a>
            <a title="@ProductQuoteApp.Resources.Resources.ActDetails" href="@Url.Action("Details", "PaymentDeadline", new { id = item.PaymentDeadlineID })"><div style="font-size:1.2em; display: inline-block;"><i class='fa fa-book-open'></i></div></a>
            <a title="@ProductQuoteApp.Resources.Resources.ActDelete" href="@Url.Action("Delete", "PaymentDeadline", new { id = item.PaymentDeadlineID })"><div style="font-size:1.2em; display: inline-block;"><i class='fa fa-trash-alt'></i></div></a>
        </td>
    </tr>
}

</table>
