@model ProductQuoteApp.Persistence.WayOfException

@{
    ViewBag.Title = @ProductQuoteApp.Resources.Resources.ActDetails;
}


<div>
    <h3>Via de Excepcion</h3>
    <hr />
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Customer):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.Company)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Product):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Product.FullName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SaleModality):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SaleModality.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GeographicArea):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GeographicArea.Name) &nbsp; <b>Excepción: &nbsp; </b>@Html.DisplayFor(model => model.IsGeographicAreaSearchParam)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentDeadline):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PaymentDeadline.Description) &nbsp; <b>Excepción: &nbsp; </b>@Html.DisplayFor(model => model.IsPaymentDeadlineSearchParam)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.QuantityOpenPurchaseOrder):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.QuantityOpenPurchaseOrder) &nbsp; <b>Excepción: &nbsp; </b>@Html.DisplayFor(model => model.IsQuantityOpenPurchaseOrderSearchParam)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DeliveryAmount):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DeliveryAmount) &nbsp; <b>Excepción: &nbsp; </b>@Html.DisplayFor(model => model.IsDeliveryAmountSearchParam)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaximumMonthsStock):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MaximumMonthsStock) &nbsp; <b>Excepción: &nbsp; </b>@Html.DisplayFor(model => model.IsMaximumMonthsStockSearchParam)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ExchangeType):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExchangeType.Description) &nbsp; <b>Excepción: &nbsp; </b>@Html.DisplayFor(model => model.IsExchangeTypeSearchParam)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ExceptionApplyType):
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ExceptionApplyType)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<hr />
<p>
    @Html.ActionLink(@ProductQuoteApp.Resources.Resources.ActEdit, "Edit", new { id = Model.WayOfExceptionID }) |
    @Html.ActionLink(@ProductQuoteApp.Resources.Resources.ActBackToList, "Index")
</p>
