@model ProductQuoteApp.Models.SetPasswordCustomerUserViewModel 
@{
    ViewBag.Title = "Resetear Contraseña";
}


<!--<h2>ViewBag.Title.</h2>-->

@using (Html.BeginForm("UserSetPassword", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerID)
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal">

        <h3>Resetear Contraseña Usuario</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink(@ProductQuoteApp.Resources.Resources.ActBackToList, "Users", "Customer", new { id = Model.CustomerID }, null)
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
