@model ProductQuoteApp.Persistence.Provider

@{
    ViewBag.Title = @ProductQuoteApp.Resources.Resources.ActDetails;
}

<!--<h2>@ProductQuoteApp.Resources.Resources.Details</h2>-->

<div>
    <h3>@ProductQuoteApp.Resources.Resources.EtyProvider</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@ProductQuoteApp.Resources.Resources.ActEdit, "Edit", new { id = Model.ProviderID }) |
    @Html.ActionLink(@ProductQuoteApp.Resources.Resources.ActBackToList, "Index")
</p>
